{% extends 'base.html' %}
<style>
    .icon-hover:hover {
  border-color: #3b71ca !important;
  background-color: white !important;
  color: #3b71ca !important;
}

.icon-hover:hover i {
  color: #3b71ca !important;
}
</style>

{% block main %}

{{ product.name }}
{{ product.price }}
{{ product.category.name }}

<!-- content -->
<section class="py-5">
    <div class="container">
        <div class="row gx-5">
            <aside class="col-lg-6">
                <div class="border rounded-4 mb-3 d-flex justify-content-center">
                    <a data-fslightbox="mygalley" class="rounded-4" target="_blank" data-type="image"
                       href="https://mdbcdn.b-cdn.net/img/bootstrap-ecommerce/items/detail1/big.webp">
                        <img style="max-width: 100%; max-height: 100vh; margin: auto;" class="rounded-4 fit"
                             src="{{ product.image.url }}"/>
                    </a>
                </div>
                <!-- gallery-wrap .end// -->
            </aside>
            <main class="col-lg-6">
                <div class="ps-lg-3">
                    <h4 class="title text-dark">
                        {{ product.name }}
                    </h4>

                    <div class="mb-3">
                        <span class="h5">${{ product.price }}</span>
                        <span class="text-muted">/per</span>
                    </div>


                    <div class="row">
                        <dt class="col-3">Type:</dt>
                        <dd class="col-9">{{ product.category }}</dd>

                        <dt class="col-3">Price</dt>
                        <dd class="col-9">{{ product.price }}</dd>

                    </div>

                    <hr/>
                </div>
            </main>
        </div>
    </div>
</section>
<!-- content -->


{% endblock main %}